/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;/*debug*/
}
/*Header*/
header {
    height: 70px;
    background-color: brown;/*debug*/
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    padding-top: 15px; ;
}